.main_card_details_outer_container {
  max-width: 1920px;
  min-width: 400px;
  height: auto;
  margin: auto;
  padding: 0 50px;
}

.main_card_details_inner_container {
  height: 100%;
  width: 100%;
  padding: 50px 10px;
  font-family: "Inter", serif;
}

.main_details_section_outer_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

#details_box_1 {
  grid-column-start: 1;
  grid-column-end: 7;
}

#details_box_2 {
  grid-column-start: 7;
  grid-column-end: -1;
}

#details_box_3 {
  grid-column-start: 1;
  grid-column-end: -1;
}

.main_details_image_outer_container {
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
  border-radius: 8px;
}

.main_details_info_container {
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
  padding: 20px;
  border-radius: 8px;
}

.main_deatils_section_details_container {
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
  padding: 20px 10px;
  border-radius: 8px;
}

.main_details_image_container {
  height: auto;
  width: 100%;
}

.main_details_image_container img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.card_details_title_container h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #0d263b;
}

.card_details_title_container p {
  font-size: 1rem;
  font-weight: 500;
  color: #737373;
}

.details_location_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
}

.details_location_icon_container {
  color: #8b5cf4;
  font-size: 1.3rem;
}

.details_location_container p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0d263b;
}

.details_card_estate_info_row_one_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin-top: 20px;
  border-top: 1px dashed #DCDCDC;
  border-bottom: 1px dashed #DCDCDC;
}

.details_card_estate_info_row_one_container p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0d263b;
}

.details_card_estate_info_row_one_container span {
  color: #7C8893;
  font-weight: 400;
  font-size: 1rem;
}

.details_facilities_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;
}

.details_facilities_container h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #0d263b;
}

.facilitise_info_contaienr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin-top: 20px;
  border-top: 1px dashed #DCDCDC;
  border-bottom: 1px dashed #DCDCDC;
}

.facilitise_info_contaienr p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #0d263b;
}

.estate_card_price_container {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #8b5cf4;
  margin-top: 20px;
}

.main_deatils_section_details_container article {
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 400;
  /* letter-spacing: 1px; */
}

.main_deatils_section_details_container span {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0d263b;
}