.main_nav_bar_outer_container {
  max-width: 1920px;
  min-width: 400px;
  margin: auto;
  margin-bottom: 80px;
}

.main_nav_bar_inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: 80px;
  position: absolute;
  position: fixed;
  top: 0px;
  z-index: 99;
  padding: 10px 50px;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black;
}

.web_name_container {
  font-family: "Inter", serif;
  font-size: 2rem;
  color: #8b5cf4;
  font-weight: 700;
}

#main_navigater_outer_container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav_bar_user_Info_contaienr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sing_in_btn {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 40px;
  background-color: #8b5cf4;
  border: 2px solid transparent;
}

.sing_in_btn:hover {
  border: 2px solid #8b5cf4;
  background-color: transparent;
  transition: 0.3s;
}

.nav_user_icon {
  font-size: 2rem;
}

.burger_menu_container {
  font-size: 2rem;
  display: none;
}













@media screen and (max-width: 1280px) {
  .web_name_container {
    font-size: 1.8rem;
  }

  #main_navigater_outer_container ul {
    gap: 30px;
  }

  .nav_bar_user_Info_contaienr {
    gap: 30px;
  }

  .sing_in_btn {
    padding: 8px 30px;
  }
}





@media screen and (max-width: 1024px) {
  .main_nav_bar_inner_container {
    padding: 10px 30px;
  }

  .web_name_container {
    font-size: 1.6rem;
  }

  #main_navigater_outer_container ul {
    gap: 20px;
  }

  .nav_bar_user_Info_contaienr {
    gap: 20px;
  }

  .sing_in_btn {
    padding: 8px 20px;
  }
}





@media screen and (max-width: 768px) {
  .burger_menu_container {
    display: block;
  }

  #main_navigater_outer_container ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    backdrop-filter: blur(10px);
    border-left: 1px solid black;
    height: calc(100vh - 80px);
    width: 50%;
    top: 80px;
    right: -0;
    z-index: 101;
    padding: 10px 20px;
    background-color: #dcdcdcba;
  }
}















@media screen and (max-width: 640px) {
  
}





@media screen and (max-width: 475px) {
  
}
