  .main_estate_outer_container {
    height: auto;
    max-width: 1920px;
    min-width: 400px;
    margin: auto;
  }

  .main_estate_inner_container {
    height: auto;
    width: 100%;
  }

  .main_estste_title_container {
    text-align: center;
    font-family: "Inter", serif;
    margin-top: 100px;
  }

  .main_estste_title_container h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #0d263b;
  }

  .main_estste_title_container p {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0d263b;
  }

  .main_card_section_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin-top: 100px;
    padding: 0 50px;
  }

  @media screen and (max-width: 1536px) {
    .main_card_section_container {
      gap: 70px;
    }
  }

  @media screen and (max-width: 1280px) {
    .main_card_section_container {
      gap: 50px;
    }
  }

  @media screen and (max-width: 1024px) {
    .main_card_section_container {
      gap: 20px;
      padding: 0 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .main_card_section_container {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 60px;
    }

    .main_estste_title_container {
      margin-top: 60px;
    }
  }

  @media screen and (max-width: 640px) {
    .main_card_section_container {
      padding: 10px;
    }

    .main_card_section_container {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 40px;
    }

    .main_estste_title_container {
      margin-top: 40px;
    }
  }