.main_home_baner_outer_container {
  height: 100vh;
  max-width: 1920px;
  min-width: 400px;
  margin: auto;
  padding: 0 50px;
  background-color: #f4f9ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_home_baner_inner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home_baner_left_contaienr {
  height: 100%;
  width: 50%;
}
.home_baner_right_contaienr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  position: relative;
}

.home_baner_left_contaienr {
  display: flex;
  align-items: center;
  justify-content: left;
}

.home_baner_left_contaienr h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #0D263B;
}

.home_baner_left_contaienr p {
  font-size: 1rem;
  color: #7C8893;
  padding: 50px 0;
}

.home_baner_left_contaienr button {
  font-size: 1.1rem;
  color: #ffffff;
  padding: 8px 30px;
  background-color: #8b5cf4;
}

.swiper-wrapper {
  padding-bottom: 30px;
}

.baner_rigth_dream_section_container {
  position: absolute;
  z-index: 88;
  text-align: center;
  padding: 20px 30px;
  bottom: 80px;
  box-shadow: 5px 5px 10px #8b5cf4;
  background-color: #ffffff;
}

.baner_rigth_dream_section_container span {
  font-size: 1.1rem;
  font-weight: 300;
  color: #7C8893;
  font-family: "Inter", serif;
}

.baner_rigth_dream_section_container p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #7C8893;
  padding: 10px 0;
  font-family: "Inter", serif;
}

.baner_rigth_dream_section_container h2 {
  color: #0D263B;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Inter",serif;
}

.baner_rigth_dream_section_container button {
  font-size: 1rem;
  color: #ffffff;
  padding: 6px 20px;
  background-color: #8b5cf4;
}